<div class="container">
    @using TimeSheets.Web.CustomHtmlHelpers    @model TimeSheets.Web.ViewModels.ShiftVM.ShiftCreateViewModel

    @{
        ViewBag.Title = "Create";
    }
    <h2>Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        
        
        
        
        
        
        
        <fieldset>
            <legend>Shift</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Shift.StartDateTime)

            </div>
            <div class="editor-field">
                <div class="row">
                    <div class='col-sm-6'>

                        <div class="form-group">
                            @* todo why does jquery expect one format, and mvc server expect another for dates? *@
                            @Html.DateTimeFor(model => model.Shift.StartDateTime)
                        </div>
                    </div>

                </div>
                @Html.ValidationMessageFor(model => model.Shift.StartDateTime)
            </div>


            <div class="editor-label">
                @Html.LabelFor(model => model.Shift.FinishDateTime)
            </div>
            <div class="editor-field">
                <div class="row">
                    <div class='col-sm-6'>
                        <div class="form-group">
                            @Html.DateTimeFor(model => model.Shift.FinishDateTime)
                        </div>
                    </div>
                    <script type="text/javascript">
                        
                    </script>
                </div>
                @Html.ValidationMessageFor(model => model.Shift.FinishDateTime)







            </div>


            <div>
                <input type="submit" value="Create" class="btn btn-success" />
                @Html.ActionLink("Cancel", "Index", "Shift", null, new { @class = "btn btn-danger" })
            </div>
        </fieldset>
    }


</div>

@section Scripts{

}


