@using TimeSheets.Core.Model
@model TimeSheets.Web.ViewModels.ShiftVM.ShiftIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Shifts</h2>

@foreach (var shift in Model.ShiftList)
{
    <table class="table table-striped">

        <tr>
            <th>
                @shift.StartDateTime.ToString("HH:mm") - @shift.FinishDateTime.ToString("HH:mm")
            </th>
            <th>
                @Html.ActionLink("Add / Remove Staff","AddRemoveStaff")
            </th>
        </tr>
        @foreach (var staffShift in shift.StaffShifts)
        {
            <tr >
                <td colspan="2">@staffShift.Staff.Name</td>
            </tr>
        }
    </table>
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
