@using System.Activities.Statements
@using System.Web.Razor.Parser.SyntaxTree
@model TimeSheets.Core.Model.StaffShift


<td class="col-md-4">@Model.Staff.Name</td>
<td id="@("s" + Model.Id)" class="col-md-2">
    @if (Model.StaffSick)
    {
        <span class="label label-danger">Sick</span>
    }
    else if (Model.StaffOnleave)
    {
        <span class="label label-info">Leave</span>
    }
    else if (Model.UseOverrideTimes)
    {
        if (Model.OPaidStartTime.HasValue)
        {
            @Model.OPaidStartTime.Value.ToString("HH:mm")
            <span class="label label-info">Manual</span>
        }
    }
    else
    {
        if (Model.PaidStartTime.HasValue)
        {
            if (Model.PaidStartTime.Value < Model.Shift.StartDateTime.AddMinutes(30) && Model.PaidStartTime.Value > Model.Shift.StartDateTime)
            {
        @Model.PaidStartTime.Value.ToString("HH:mm")
        <span class="label label-warning">Late</span>
            }
            else if (Model.PaidStartTime.Value >= Model.Shift.StartDateTime.AddMinutes(30))
            {
        @Model.PaidStartTime.Value.ToString("HH:mm")
        <span class="label label-danger">Late</span>
            }
            else
            {
        @Model.PaidStartTime.Value.ToString("HH:mm")
            }
        }
        else
        {

        }
    }
</td>
<td id="@("f" + Model.Id)" class="col-md-2">
    @if (Model.StaffSick)
    {
        <span class="label label-danger">Sick</span>
    }
    else if (Model.StaffOnleave)
    {
        <span class="label label-info">Leave</span>
    }
    else if (Model.UseOverrideTimes)
    {
        if (Model.OPaidFinishTime.HasValue)
        {
            @Model.OPaidFinishTime.Value.ToString("HH:mm")
            <span class="label label-info">Manual</span>
        }
    }
    else
    {
        if (Model.PaidFinishTime.HasValue)
        {
            if (Model.PaidFinishTime.Value < Model.Shift.FinishDateTime.AddMinutes(-30))
            {
        @Model.PaidFinishTime.Value.ToString("HH:mm")
        <span class="label label-danger">Early</span>
            }
            else if (Model.Shift.FinishDateTime >= Model.PaidFinishTime.Value.AddMinutes(-30) && Model.PaidFinishTime.Value < Model.Shift.FinishDateTime.AddMinutes(-10))
            {
        @Model.PaidFinishTime.Value.ToString("HH:mm")
        <span class="label label-warning">Early</span>
            }
            else
            {
        @Model.PaidFinishTime.Value.ToString("HH:mm")
            }
        }
        else
        {

        }
    }
</td>
<td @*class="col-md-3"*@></td>
<td id="@("b" + Model.Id)" class="col-lg-1">
    @if (Model.StaffSick)
    {
        @Ajax.ActionLink("S", "NotSick", "StaffShift", new { id = Model.Id }, new AjaxOptions()
                                                                            {
                                                                                HttpMethod = "POST",
                                                                                UpdateTargetId = "staffShift" + Model.Id,
                                                                                InsertionMode = InsertionMode.Replace,
                                                                                OnBegin = "ClearResults(s" + Model.Id + ",f" + Model.Id + ",b" + Model.Id + ")"
                                                                            }
                                                                            , new { @class = "btn btn-danger btn-xs" })
    }
    else
    {
        @Ajax.ActionLink("S", "Sick", "StaffShift", new { id = Model.Id }, new AjaxOptions()
                                                                            {
                                                                                HttpMethod = "POST",
                                                                                UpdateTargetId = "staffShift" + Model.Id,
                                                                                InsertionMode = InsertionMode.Replace,
                                                                                OnBegin = "ClearResults(s" + Model.Id + ",f" + Model.Id + ",b" + Model.Id + ")"

                                                                            }
                                                                            , new { @class = "btn btn-default btn-xs" })
    }
    @if (Model.StaffOnleave)
    {
        @Ajax.ActionLink("L", "NotOnLeave", "StaffShift", new { id = Model.Id }, new AjaxOptions()
                                                                                {
                                                                                    HttpMethod = "POST",
                                                                                    UpdateTargetId = "staffShift" + Model.Id,
                                                                                    InsertionMode = InsertionMode.Replace,
                                                                                    OnBegin = "ClearResults(s" + Model.Id + ",f" + Model.Id + ",b" + Model.Id + ")"

                                                                                }
                                                                                , new { @class = "btn btn-info btn-xs" })
    }
    else
    {
        @Ajax.ActionLink("L", "OnLeave", "StaffShift", new { id = Model.Id }, new AjaxOptions()
                                                                                {
                                                                                    HttpMethod = "POST",
                                                                                    UpdateTargetId = "staffShift" + Model.Id,
                                                                                    InsertionMode = InsertionMode.Replace,
                                                                                    OnBegin = "ClearResults(s" + Model.Id + ",f" + Model.Id + ",b" + Model.Id + ")"
                                                                                }
                                                                                , new { @class = "btn btn-default btn-xs" })
    
    }

    <a href="@Url.Action("Edit", "StaffShift", new { id = Model.Id })" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-time"></span></a>

</td>




